<!DOCTYPE html>
	<html>
    <!-- <main>
      <div class="header-img"></div>
    </main> -->
		<head>
      <!-- <main>
        <div class="header-img"></div>
      </main> -->
      <header>
        <img src='/images/forest.jpg' width=100% height="300">
      </header>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/ResearchProjects">Research Projects</a></li>
            <li><a href="/Publications">Publications</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<!-- <footer>
	    		<ul>
          		<li><a href="rkonno@sfu.ca">email</a></li>
				</ul>
			</footer> -->
		</body>
	</html>
